:root {
    --color-bg: #191919;
    --color-fg: #EADBB2;
    --color-link: #8F9191;
    --color-link-visited: #8F9191;
    --color-link-hover: #FA7921 ;
}

html, body {
    background: var(--color-bg);
    color: var(--color-fg);
    font-family: "monospace";
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

input {
    color: var(--color-fg);
}

.container {
    display: grid;
    grid-template-columns: 1fr 460px 600px 1fr;
    grid-template-areas:
    ". left right .";
    column-gap: 80px;
    justify-items: center;
    align-items: center;
    min-height: 100%;
}

.left-container {
    grid-area: left;
    aspect-ratio: 1/1;
}

.right-container {
    grid-area: right;
    height: 50%;
    width: 100%;
}

.mao img {
    border: 2.5px solid #ffffff;
    max-width: 70%;
    max-height: 70%;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 50px;
}

.input_box {
    border: 1px white;
    border-style: none none solid none;
    text-align: center;
    height: 30px;
    width: 450px;
    padding: 0;
    background: none;
    font-size: 15px;
    /*margin-bottom: 35px;*/
}

.input_box:focus {
    outline: none;
}

.category {
    display: flex;
    flex-direction: column;
    width: 180px;
}

.bookmarks {
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    font-size: 20px;
}

li {
    font-size: 16px;
    list-style-type: none;
    padding: 5px
}

a:link {
    text-decoration: none;
    color: var(--color-link);
}

a:visited {
    color: var(--color-link-visited);
}

a:hover {
    color: var(--color-link-hover);
}


