* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

p, a, input, summary {
    color: #ffffff;
    text-decoration: none;
}

body {
    /* use one of these bg colour if you use bg size contain */
    /* background colour for altbg.jpg */
    /* background-color: #151419; */
    /* background colour for bg.jpg*/
    /* background-color: #000000; */
    /* background-size: contain; */
    min-height: 100vh;
    background-image: url("../img/altbg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 20%;
}

.input_box {
    border: 1px white;
    border-style: none none solid none;
    text-align: center;
    height: 30px;
    width: 450px;
    padding: 0;
    background: none;
    font-size: 15px;
}

.input_box:focus {
    outline: none;
}

.ge, .ch, .mi, .m {
    position: fixed;
    bottom: 20%;
    display: grid;
    padding: 4px;
}

.ge {
    left: 8%;
}

.ch {
    left:24%;
}

.mi {
    right: 8%;
}

.m {
    right: 24%;
}

li {
    margin-bottom: 25px;
    list-style: none;
    text-align: center;
}

details {
    text-align: center;
    display: block;
    height: auto;
    overflow: visible; /* Alterado para garantir que o conteúdo seja visível */
    position: relative; /* Adicionado para posicionar o conteúdo interno */
}

summary {
    margin-bottom: 0;
    text-align: center;
    list-style: none;
    display: block;
    position: relative;
    cursor: pointer; /* Adicionado para indicar que é clicável */
}

details ul {
    position: absolute; /* Posiciona o conteúdo do details fora do fluxo normal */
    top: 100%; /* Coloca o conteúdo abaixo do summary */
    left: 0;
    width: 100%;
    /*background-color: rgba(0, 0, 0, 0.8); /* Adiciona um fundo para melhor visibilidade */
    padding: 10px; /* Adiciona algum espaço ao redor do conteúdo */
    box-sizing: border-box;
    z-index: 1; /* Garante que o conteúdo apareça acima de outros elementos */
    margin-top: 10px; /* Adiciona um espaço entre o summary e o conteúdo */
}

#frase {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    margin-top: 2%;
}
